   /* end of .navbar  */


   body {
    background-image: url("../images/backgrounds/palmtree_water.jpeg");
    background-repeat: no-repeat;
    width: 100%;
}

#search-heading {
    font-weight: bolder
}

   #search-container {
       text-align: center;
       margin-top: 70px;
   }

   #jumbo {
    background: lightblue;
    opacity: .8;
    text-align: center;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid orange;
}

#submit {
    background: darkgray;
}

#carousel-search {
   margin-top: 10px;
   margin-bottom: 20px;
   background: rgb(216, 236, 243);
}

/* ---- carousel results area ----*/

#carousel-example-generic {
    margin-top: 70px;
}


.item img {
    width: 100%;
    max-height: 500px;
   
}

.carousel-caption {
    font-size: 15px;
    color: yellow;
    font-weight: bold;
}

.carousel-caption:hover {
    color: white;
    font-size: 25px;
}

.sr-only {
    font-size: 20px;
}

.carousel-inner {
    border: 8px solid gray;
}



