* { box-sizing: border-box; }

   /* Style for NavBar */

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
  }


#logo {
    color: black;
    background: darkgray;
}

#logo:hover {
    color: white;
    background: blue;
}


/* --- @media keep hamburger button visible --- */


@media (max-width: 2400px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


   /* end of .navbar  */

body {
    background-image: url("../images/backgrounds/dock_in_clear_water.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}

#jumbo {
    background: lightblue;
    opacity: .8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid orange;
}

#panel-heading {
    background: lightblue;
    opacity: .8;
}

#city {
    font-size: 20px;
    font-weight: bolder;

}

.results {
    font-size: 20px;
    font-weight: bolder;
}

#results-body {
    background: rgb(247, 231, 181);
}

.checkbox {
    padding: 10px;
}

#submit {
    background: rgb(210, 210, 248);
}

#submit:hover {
    background: rgb(142, 241, 231);
    border: 3px solid orange;
}


#reset-button-city-search {
    margin-top: 20px;
    margin-left: 40px;
}

#home-button {
    margin-top: 20px;
    margin-left: 40px;
    background: yellowgreen;
}


