
* { box-sizing: border-box; }

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
  }


#logo {
    color: black;
    background: darkgray;
}

#logo:hover {
    color: white;
    background: blue;
}

.body-container {
    background-image: url("../images/backgrounds/beach_post_rope.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:800px;
}

.header {
    text-align: center;
    padding-top: 100px;
    
}

#header {
    font-weight: bolder;
    font-size: 50px;
    color: black;
}



#header:hover {
    color: orange;
}

#top-title,
#title {
    font-size: 38px;
    font-weight: bolder;
    color: black;
    
}

#top-title:hover {
    color: blue
}

#title:hover {
    color: blue;
}

.info {
    font-size: 26px;
    font-weight: bold;
}


@media (max-width: 2400px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
